* {  
  margin: 0;  
  padding: 0;  
  outline: 0;  
  box-sizing: border-box;  
  -webkit-font-smoothing: antialiased;  
  user-select: none;  
}  

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #343434;
}

#app {
  width: 50%;
  min-width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 44px;
  color: #335c62;
  font-weight: 700;
}

p{
  text-align: center;
  margin-top: 28px;
  font-size: 28px;
  color: #5c5c5c;
  font-weight: 300;
}

ul {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin: 50px;
}

ul li {
  margin-bottom: 10px;
  color: #5c5c5c;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background-color: #eee;
  font-size: 14px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background-color: rgb(215, 215, 215);
}

ul li:hover {
  opacity: 0.8;
}

/* When clicked on, add a background-color color and strike out text */
ul li.checked {
  background-color: rgb(106, 142, 111);
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 14px;
  width: 7px;
}

input, button {
  font: 400 20px sans-serif
}

input {
  width: 60%;
  height: 40px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin-right: 10px;
}

.btn_add {
  width: 30%;
  height: 40px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  background-color: #59a2ad;
  color: #fff;
  cursor: pointer;
}

.btn_add:hover {
  opacity: 0.9;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336c6;
  color: white;
}
